// ~~~~ LIGHT THEME ~~~~
$light-theme-txt: #1c1c1c;

$light-theme: #fff; // bgc body
$light-theme-dark1: #f0f0f0; // bgc section
$light-theme-dark2: #e1e1e1; // bgc btn or input

$light-primary: #87CF02; // color icon
$light-primary-dark1: #89bd3a; // bgc BTN
$light-primary-dark2: #89b448; // small icon or details
$light-primary-dark3: #89ac53; // smaller icon or details

// ~~~~ DARK THEME ~~~~
$dark-theme-txt: #fff;

$dark-theme: #2F4F4F; // bgc body
$dark-theme-light1: #446161; // bgc section
$dark-theme-light2: #5a7373; // bgc btn or input

$dark-primary: #F0A00C; // color icon
$dark-primary-light1: #f8b553; // bgc BTN
$dark-primary-light2: #fbbf6d; // small icon or details
$dark-primary-light3: #feca85; // smaller icon or details


// ou Palette de couleurs (3)

// Black/dark
$main-dark: #333;
$main-darker: #1c1c1c;

// White
$white-light: #fff;
$white-medium: #fffff0;
$white-dark: #f2e7bf;

// Grey
$grey-light: #E0E0E0;
$grey-medium: #B0B0B0;
$grey-dark: #4B4B4B;

// Red
$red-light: #FF4C4C;
$red-medium: #D32F2F;
$red-dark: #B00020;

// Blue
$blue-light: #81D4FA;
$blue-medium: #2196F3;
$blue-dark: #1565C0;

// Green
$green-light: #66BB6A;
$green-medium: #43A047;
$green-dark: #2E7D32;

// Purple
$purple-light: #b785da;
$purple-medium: #BA68C8;
$purple-dark: #7645c2;


// Rose
$pink-light: #FFCDD2;
$pink-medium: #e4405f;
$pink-dark: #e91e63;

// Yellow
$yellow-light: #FFF9C4;
$yellow-medium: #e5b64a;
$yellow-dark: #B7892A;

// Orange
$orange-light: #f09766;
$orange-medium: #F57C00;
$orange-dark: #E65100;


